- var name = "Hasan M.";

doctype html
head
	include includes/head.pug
	title İki Adım Doğrulama
.container.my-5
	.row.row-cols-1.row-cols-md-2.g-5
		.col
			.row.row-cols-1.g-1
				.col
					p.display-4
						| Merhaba,
						br
						| Sayın 
						span.fw-bold #{name}
				.col
					p.lead 1. Kendinize özel bir anahtar üretin.
					p.lead 2.
						strong.fw-bold  "İki Adım"
						|  uygulaması ile QR kodu kameraya okutun.
					p.lead 3. Mutlaka çıkış yapın.
				.col
					form(action="/", method="post")
						if isQRGenerated
							button.btn.btn-large.btn-danger.px-5.py-1(type='submit') Çıkış Yap
						else
							button.btn.btn-large.btn-primary.px-5.py-1(type='submit') Üret
		if isQRGenerated
			img(src=src).col.mb-5.px-5.img-fluid
		else
			.col
footer.container.fixed-bottom.small.text-muted.p-2.text-center
	span #{name}
	|	değil misiniz? 
	button#logout.btn.btn-sm.btn-outline-danger
		| Çıkış yap.
