- var name = "Abuzer Emre O.";

doctype html
head
	include includes/head.pug
	title İki Adım Doğrulama
.container.my-5
	.row.row-cols-1.row-cols-md-2.g-5
		.col
			.row.row-cols-1.g-1
				.col
					p.display-5
						| Merhaba,
						br
						| Sayın 
						span.fw-bold #{name}
				.col
					p.lead Kendinize özel bir anahtar üretin. Telefonunuzdaki
						strong
							|  "İki Adım"
						|  uygulaması ile QR kodu kameraya okutun.
				.col
					button.btn.btn-large.btn-primary.px-5.py-1(type='submit') Üret

		canvas#qr.col.mb-5.px-5
footer.container.fixed-bottom.small.text-muted.p-2.text-center
	span #{name}
	|	değil misiniz? 
	button#logout.btn.btn-sm.btn-outline-danger
		| Çıkış yap.
script(src='/qrious/dist/qrious.min.js')
script.
	(function () {
	var qr = new QRious({
	element: document.getElementById('qr'),
	value: 'otpauth://totp/Jandarma?secret=JBSWY3DPEHPK3PXP',
	size: 500,
	backgroundAlpha: 0,
	});
	})();
