doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='author' content='Abuzer Emre Osmanoğlu')
  link(rel='stylesheet' href='scss/custom.css')
  link(rel='stylesheet' href='scss/signin.css')
  link(rel='apple-touch-icon' sizes='57x57' href='assets/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='assets/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='assets/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='assets/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='assets/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='assets/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='assets/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='assets/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='assets/favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='assets/favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='assets/favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon/favicon-16x16.png')
  link(rel='manifest' href='assets/favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='assets/favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  title Giri&scedil; - &Idot;ki Ad&imath;m Do&gbreve;rulama
main.form-signin.m-auto.p-1
  form
    img.mb-2(src='assets/AppIcon.png' width='144' height='144')
    h1.mb-3.display-6 &Idot;ki Ad&imath;m Do&gbreve;rulama
    // User Name TextField
    .form-floating
      input#floatingInput.form-control(type='text' placeholder='Username')
      label(for='floatingInput') Kullan&imath;c&imath; Ad&imath;
    // Password TextField
    .form-floating
      input#floatingPassword.form-control(type='password' placeholder='Password')
      label(for='floatingPassword') Parola
    // Button
    button.w-100.btn.btn-lg.btn-primary.mt-1.mb-2(type='submit') Giri&scedil;
    // Error Description Text
    p.text-danger
      i.bi.bi-exclamation-triangle.me-1
      |                 Kullan&imath;c&imath; Ad&imath; veya Parola Hatal&imath;
